#quote-box{
    background-color: white;
    text-align: center;
    width: 520px;
    border-radius: 5px;
    padding: 45px 50px;
   
}
.quote-text{
    font-size: 20px;
}
.quote-author{
  font-weight: 300;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: end;
}
.buttons{
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.button{
    padding: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    height: 35px;
    text-align: center;
    

}